<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="js/vue.js" type="text/javascript"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputtodo" @keyup.enter="addtodo"/>
    <ul>
        <li v-for="(todo,index) in todos">
            {{todo.name}}
            <button @click="Delete(index)">X</button>
        </li>
    </ul>
</div>
<script type="text/javascript">
    new Vue({
       el:'#app',
        data:{
            inputtodo:'',
            todos:[
                {id:2,name:'eat'},
                {id:3,name:'sleep'},
                {id:4,name:'dadoudou'}
            ]
        },
        methods:{
            addtodo:function(){
                var inputvalue=this.inputtodo;
                if(inputvalue) {
                    var todo = {id: Date.now(), name: inputvalue}
                    this.todos.unshift(todo)
                    this.inputtodo = ''
                }
            },
            Delete:function(index)
            {
                this.todos.splice(index,1)
            }
        }
    })
</script>
</body>
</html>